html{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eeeeee;
    font-family: "Oswald", sans-serif;
    color: #0e0e0e;
    margin: 0;
    padding: 0;
}

/*Navigga*/
.nav{
    background: transparent;
    position: relative;
}

.nrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.nlogo{
    display: block;
    align-items: center;
    margin-top: -3px;
}

.nlogo img {
    width: 112px;
    height: auto;
}

.nfunc{
    display: flex;
    gap: 20px;
}

.nlink {
    text-decoration: none;
    color: #eeeeee;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 20px;
    background-color: #981f9e;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 50px;
}

.nlink:hover {
    transition-duration: 0.3s;
    color: #fe560d;
}

.narghile {
    text-align: center;
    margin-left: 300px;
    margin-top: 200px;
}

.nargh {
    width: 500px;
    align-self: center;
    margin-top: -250px;
    margin-left: 190px;
}

.construction{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #0e0e0e;
    display: flex;
    flex-direction: column;
}

.construction img {
    width: 10%;
    padding-top: 50px;
}

/*Footigga*/
.frow:after {
  content: "";
  display: table;
  clear: both;
}

.ffunc{
    float: left;
    width: 33.33%;
    margin-bottom: 50px;
}

.fsocial{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
}

.fsociali {
    fill: #0e0e0e;
    transition: fill 0.3s ease;
}

.fsociali:hover {
    fill: #e48f11;
}

.followus {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: #0e0e0e;
    text-align: center;
}

.LANG{
    font-family: "Oswald", sans-serif;
    color: #0e0e0e;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 40px;
}   

.copyright{
    font-family: "Oswald", sans-serif;
    color: #0e0e0e;
    text-align: center;
    font-weight: 700;
    margin-bottom: 38px;
}

@media (max-width: 768px) {
    .nrow {
    margin: 10px;
    }

    .nlink {
    border-radius: 50px;
    margin: 0 -3px;
    }

    .nlogo img {
    width: 82px;
    height: auto;
    margin-top: 6px;
    }

    .nfunc{
    display: flex;
    gap: 15px;
    }

    .nlink {
    font-size: 15px;
    padding: 10px;
    }

    .ffunc {
        float: none;
        width: 100%;
        text-align: center;
    }

    .narghile {
    margin-top: 50px;
    }

    .nargh {
    width: 300px;
    align-self: center;
    margin-top: 100px;
    margin-left: -210px;
    }

    .construction img {
        width: 50%;
        padding-top: 30px;
    }
}