#smoke-container {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: visible;
}

.smoke-puff {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: rgba(200, 200, 200, 0.4);
    border-radius: 50%;
    opacity: 0.7;
    pointer-events: none;
    animation: rise 8s ease-out forwards;
}

@keyframes rise {
    0% {
        transform: translateX(-50%) scale(1);
        opacity: 0.7;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        transform: translateX(-50%) translateY(-150px) translateX(var(--drift, 0px)) scale(12);
        opacity: 0;
    }
}


@media (max-width: 768px) {
    #smoke-container {
        height: 100px;
        margin-left: -154px;
        margin-bottom: -260px;
    }

    .smoke-puff {
        width: 15px;
        height: 15px;
    }

    @keyframes rise{
        0% {
            transform: translateX(-50%) scale(0.7);
            opacity: 0.6;
        }
        50% {
            opacity: 0.3;
        }
        100%{
            transform: translateX(-50%) translateY(-100px) translateX(var(--drift, 0px)) scale(6);
            opacity: 0;
        }
    }
}